<style>
       p {
        font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
    .price{
        font-size: 40px;
        margin-bottom: 4px;

       
        
    }
    .us{
        margin-left: 3px;
        font-weight: lighter;
        color: grey;
        font-size: 20px;
    }
    .prfit{
        color:green;
        margin-bottom: 4px;
        font-size: 20px;


    }
    .after-hours{
        color: grey;
        margin-top: 4px;
        padding-top: 5px;
        
    }
    .after-hours-change{
        color:red;
    }


    .heading{
        color: red; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;text-transform: capitalize;border: 2px solid black;
        text-shadow: rgb(73, 103, 12);
        margin: 80px 80px;
        padding: 50px 9px;
        background-color:rgb(65, 60, 60);



    }

    #box{
         text-shadow:2px 2px 8px yellow ;
         height: 390px;
         width: 400px;
         background-color: black;
         border: 2px dashed yellow;
         box-sizing: border-box;
         padding: 130px;
    }
  </style>
   